* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --color--purple: rgb(93, 93, 201);
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid var(--color--purple);
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}
